{%extends 'Admin.html'%}
{%block body%}


      
        
    <form class="form6 mt-3" method="post" action="/addlicencedetails" enctype="multipart/form-data">
      <p class="title text-white">Register </p>
      
      <div class="flex6">

          <label style="width: 100%;">Name
              <input class="input" type="text" name="textfield" placeholder="" required pattern="[A-Z a-z]{3,25}">
          </label>
          <label style="width: 100%;">Licence No
              <input class="input" type="text" name="textfield2" placeholder=""  required>
          </label>
          <label style="width: 100%;">Authoratization to drive
            <input class="input" type="text" name="textfield3" placeholder="" required >
        </label>
       
          
          
      </div>
      <div class="flex6">

       
        
        <label style="width: 100%;">Phone No
          <input class="input" type="text"  name="number" placeholder="" required pattern="[6789][0-9]{9}">
      </label>
      
      <label style="width: 100%;">Aadhar Number
        <input class="input" type="text" name="adharnumber" placeholder="" required pattern="[0-9]{12}">
    </label>

   

      <label style="width: 100%;">Email
        <input class="input" type="email" name="email" placeholder="" oninput="validateEmail()" id="email" required>
           <span id="emailError" style="color: red;"></span><br>

    </label>
   
        
        
    </div>
     

  
      
      
      <div class="flex6">
         
  
       
         <label style="width: 100%;">Issue Date
        <input class="input" id="issueDate" type="date" name="date" placeholder="" required>
    </label>

    <label style="width: 100%;">Validity
        <input class="input" id="validityDate" type="date"  name="date2" placeholder="" required readonly>
    </label>
     

      

        <label style="width: 100%;">Blood Group
          <input class="input" type="text" name="textfield5" placeholder="" required>
      </label>



        
       
    </div>

   <div class="flex6">
         <label style="width: 100%;">S/0 D/o W/O
          <input class="input" type="text" name="relation" placeholder="" required pattern="[A-Z a-z.]{2,25}">
      </label>
            <label style="width: 100%;">DOB
          <input class="input" type="date" name="date3" placeholder="" required>
      </label>



   </div>
     
        
      <div class="flex6">
          <label for="">Gender</label>
      <input class="input" type="radio" id="radio"  name="gender" value="Male" required>
<label for="male">Male</label><br>
<input class="input" type="radio" id="radio"  name="gender" value="Female">
<label for="female">Female</label><br>
<input class="input" type="radio" id="radio"  name="gender" value="Others">
<label for="others">Others</label><br>

  </div>

      <div class="flex6">
        <label style="width: 100%;">Permanent Address

          <textarea class="input form-control" name="textarea4" placeholder="" id="exampleFormControlTextarea1" rows="3" required pattern="[A-Z a-z]{3,25}"></textarea>
  </label>
  <label class="text-white" style="width: 100%; "> Present Address

      <textarea class="input form-control" name="textarea5"  placeholder="" id="exampleFormControlTextarea1" rows="3" required pattern="[A-Z a-z]{3,25}"></textarea>
</label>

          
         
        
   
      </div> 

    <div class="flex6">
      <label class="text-white" style="margin-left: 10px;" for=""> <b>Image</b></label>
      <input class="file" type="file" name="fileField" placeholder="Image"  required="">

          

        
      </div> 









  
      <button  class="btn btn-success">Submit</button>


 

  </form>






   

    
</body>
<script>
        function validateEmail() {
            console.log('jhgfj')
            var email = document.getElementById("email").value;
            var emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

            if (emailRegex.test(email)) {
                document.getElementById("emailError").innerHTML = "";
                return true;
            } else {
                document.getElementById("emailError").innerHTML = "Invalid email format";
                return false;
            }
        }

        // Function to calculate validity date
        function calculateValidityDate() {
            var issueDate = new Date(document.getElementById("issueDate").value);
            var validityDate = new Date(issueDate);
            validityDate.setFullYear(validityDate.getFullYear() + 20); // Adding 20 years

            // Formatting validityDate to YYYY-MM-DD format
            var formattedValidityDate = validityDate.toISOString().slice(0, 10);

            document.getElementById("validityDate").value = formattedValidityDate;
        }

        // Call the function when issue date is changed
        document.getElementById("issueDate").addEventListener("change", calculateValidityDate);

        // Initial calculation
        calculateValidityDate();
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{%endblock%}