{%extends 'Admin.html'%}
{%block body%}


     {%for i in values%}
      <div class="container mt-3">
        <div class="row">
            <div class="col-md-12">
                <ol class="list-group list-group bg-info">
                    <li class="list-group-item d-flex justify-content-between align-items-start bg-info">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Registration Number</div>
                        {{ i[1] }}
                      </div>
                    </li>
                     <li class="list-group-item d-flex justify-content-between align-items-start ">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Description</div>
                        {{ i[2] }}
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start ">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Address</div>
                        {{ i[3] }}
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start ">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Makers's Name</div>
                        {{ i[4] }}
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Owner Name</div>
                   {{ i[5] }}
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start ">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">S/o d/o w/o</div>
                      {{ i[6] }}
                      </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Temporary address</div>
                        {{ i[7] }}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Email</div>
                          {{ i[24] }}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Class of Vechicle</div>
                         {{ i[8] }}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Makers Classification</div>
                          {{ i[9] }}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Type of Body</div>
                          {{ i[10] }}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Chassis Number</div>
                          {{ i[11] }}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Engine Number</div>
                          {{ i[12] }}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Fuel</div>
                         {{ i[13] }}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Color</div>
                         {{ i[14] }}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Month of manufacture</div>
                          {{ i[15] }}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Year of manufacture</div>
                         {{ i[16] }}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Horse power</div>
                         {{ i[17] }}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Weight</div>
                         {{ i[18] }}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">No of Cyclinders</div>
                          {{ i[19] }}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Seat Capacity</div>
                         {{ i[20] }}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Tax licence Number</div>
                          {{ i[21] }}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Date of Delievery</div>
                       {{ i[22] }}
                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Licence Num</div>
                      {{ i[23] }}
                        </div>
                      </li>

                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">View Used Licences</div>
                       <a  class="text-white btn btn-success " href="/viewaccessed?id={{i[1]}}">Licence</a>


                        </div>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Action</div>
                          <a href="vehicleedit?id={{ i[0] }}" class="btn btn-primary">Edit</a>
                            <a href="vehdelete?id={{ i[0] }}" class="btn btn-danger">Delete</a>

                        </div>
                      </li>
                  </ol>
                
            </div>
        </div>
      </div>

    {%endfor%}

    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{%endblock%}