{%extends 'Admin.html'%}
{%block body%}


      
        
    <form class="form6 mt-3" method="post" action="/addtraffic" enctype="multipart/form-data">
      <p class="title text-white">Register </p>
      
      <div class="flex6">

          <label style="width: 100%;">Name
              <input class="input" type="text" placeholder="" name="Name" required pattern="[A-Z a-z]{3,25}">
          </label>
          

       <label style="width: 100%;">Email
        <input class="input" type="email" placeholder="" name="Email" oninput="validateEmail()" id="email">
          <span id="emailError" style="color: red;"></span><br>
        </label>
      </div>
      <div class="flex6">

        <label style="width: 100%;">Badge Number
          <input class="input" type="text" placeholder="" name="Badge_Number"required pattern="[0-9]{1,5}">
      </label>
   
      <div class="flex6">
          <label for="">Gender</label>
      <input class="input" type="radio" id="radio"  name="gender" value="Male">
<label for="male">Male</label><br>
<input class="input" type="radio" id="radio1"  name="gender" value="Female">
<label for="female">Female</label><br>
<input class="input" type="radio" id="radio2"  name="gender" value="Others" checked >
<label for="others">Others</label><br>

  </div>
           

   
        
        
    </div>
     

  
      
      
     
   
     
        
      <div class="flex6">
          
        
        
        
          <label style="width: 100%;">Date of Birth
            <input class="input" type="date" placeholder="" name="dob" required>
        </label>
        <label style="width: 100%;">Password
            <input class="input" type="password" name="Password" placeholder=""  required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{3,}">
        </label>
          <label style="width: 100%;">Adharnumber
            <input class="input" type="text" name="adharnumber" placeholder="" required pattern="[0-9]{12}">
        </label>

       
  
         
      </div> 
      

    <div class="flex6">
      <label class="text-white" style="margin-left: 10px;" for=""> <b>Image</b></label>
      <input class="file" type="file" name="Profile_Photo"  placeholder="Image"  required>

          

        
      </div> 









  
      <button  class="btn btn-success">Submit</button>


 

  </form>






   

    
</body>
<script>
        function validateEmail() {
            console.log('jhgfj')
            var email = document.getElementById("email").value;
            var emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

            if (emailRegex.test(email)) {
                document.getElementById("emailError").innerHTML = "";
                return true;
            } else {
                document.getElementById("emailError").innerHTML = "Invalid email format";
                return false;
            }
        }
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{%endblock%}
