*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

  background-image: url('https://wallpaperbat.com/img/565420-cityscapes-cars-traffic-nightlights-underpass-wallpaper-2560x1600-9167.jpg')

    background-color: #f8f9fa;
  }
  .sidebar {
    background-color: #343a40;
    height: 100%;
  }
  .sidebar a{
    text-decoration: none;
    color: #ffffff;
  }
  .sidebar-item {
    padding: 10px 20px;
    border-bottom: 1px solid #495057;
  }
  .sidebar-item:hover{
    background-color: #212529;
  }
  .badge {
    font-size: 0.8rem;
    margin-left: 5px;
  }
  .alert-danger-custom {
    background-color: #dc3545 !important;
    color: #ffffff !important;
    border-color: #dc3545 !important;
  }